<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
   <extension
         point="org.knime.knip.base.TableCellView">
      <TableCellView
            TableCellViewFactory="de.mpicbg.knime.ip.clearvolume.base.ClearVolumeViewer">
      </TableCellView>
   </extension>
</plugin>
